
ul {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 20px;
    margin: 25px;
}
img {
    width: 60%;
}
h2 {
    font-size: 18px;
}
.buy-btn {
    background-color: #377e80;
    padding: 5px 20px;
    text-decoration: none;
    color: white;
}
li {
    text-align: center;
    list-style: none;
    background-color: white;
    
    padding: 30px 10px;
}